@import "../../Core/Styles/variables";

.multi-step-form-root-container {
  min-height: 100vh;
  background: $color__fill-very-dark;
  color: $color__fill-very-pale-orange-light;
  &__step-holder {
    max-width: 1320px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
