// TODO: Get all the final fonts after client makes purchase.

@font-face {
  font-family: Inter;
  src: url("../Styles/fonts/Inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Inter;
  src: url("../Styles/fonts/Inter/Inter-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Inter;
  src: url("../Styles/fonts/Inter/Inter-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
