$headerHeight: 80px;
$footerHeight: 0;

$color__fill-black: #1a282c;
$color__fill-white: #ffffff;
$color__fill-white-alpha-0-2: rgba($color__fill-white, 0.2);
$color__fill-beige: #e2e1cd;
$color__fill-pink: #ffa3d1;
$color__fill-brown: #db7b1c;
$color__fill-light-blue: #98dde7;
$color__fill-medium-blue: #0076c2;
$color__fill-blue: #3035ff;
$color__fill-blue-alt: #008291;
$color__fill-light-grey: #f6f6f6;
$color__fill-light-gris: #e6e9d7;
$color__fill-red: #da1e28;
$color__fill-green: #008067;
$color__fill-grey: #979797;
$color__fill-yellow: #ffcd00;
$color__ui-field-background: rgba(26, 40, 44, 0.03);
$color__fill-dark-grey: #737373;
$color__fill-soft-black: #364e55;
$color__faint-grey: #f0f2f2;
$color__wild-sand-grey: #e4e2df;
